<footer class="footer section-dark">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li class="nav-item">
            <a href="https://docs.google.com/document/d/1gGv0ePSdYbfYxatjZs7dAXQwmdZxcFZbruBF36GZggo/edit" target="_blank" class="nav-link">MVPs</a>
          </li>
          <li class="nav-item">
            <a href="/featured_developers" class="nav-link">Featured Developers</a>
          </li>
          <li class="nav-item">
            <a href="https://www.dusthackershq.com" target="_blank" class="nav-link">Dust Hackers</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1N8mFTaa6AYs1uB_AN5d8PUtgfKI4orqoA8HQHI8KjRs/edit" target="_blank">Resources</a>
          </li>
          <li>
            <a href="https://medium.com/dusthq" target="_blank">Blog</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1-N2doVbOrnS6oK7GiVwz4SbJQ98xT4mLfeNnog0ewy0/edit" target="_blank">Help</a>
          </li>
          <li>
            <a href="/terms">Terms</a>
          </li>
          <li>
            <a href="https://twitter.com/TheDustMakers" target="_blank" class="btn btn-neutral btn-just-icon btn-round btn-twitter twitter-sharrre">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">© 
        <script>
        document.write(new Date().getFullYear())
        </script>, made with <i class="fa fa-heart heart"></i> by Dust</span>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer .credits, .footer-nav {
    line-height: 65px;
  }

  .footer nav > ul > li {
    margin: 0 auto;
  }
</style>
