<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column" style="min-height: 40px !important;">
    <div class="container">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark px-0">
            <a class="navbar-brand" href="#">
                <img src="/dust-logo.png" class="mr-2" alt="Dust" width="70px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></s`pan>
    </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="color: #fff !important;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://blog.dusthq.com">Blog</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/TheDustMakers" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/TheDustMakers" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/dusthq/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- / Navigation -->
    </div>
    <!-- .container -->
</div>
<!-- / Welcome Section -->