<nav class="navbar navbar-toggleable-md fixed-top <%- typeof fixedHeader !== 'undefined' ? '' : 'navbar-transparent' %>" <%- typeof animateNavbar==='undefined' ? '' : 'color-on-scroll="500"' %>>
    <div class="container">
        <div class="navbar-translate">
            <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right navbar-burger" data-target="#navbarToggler" data-toggle="collapse" type="button">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
            <a class="navbar-brand logo" href="/"><img src="/dust_logo.png" alt="Dust" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/education" target="_blank" class="nav-link">Education</a>
                </li>
                <li class="nav-item">
                    <a href="/enterprise" target="_blank" class="nav-link">Enterprise</a>
                </li>
                <li class="nav-item">
                    <a href="https://medium.com/dusthq" target="_blank" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <% } %>
                        <li class="nav-item">
                            <a href="https://twitter.com/TheDustMakers" target="_blank" class="btn btn-neutral btn-just-icon btn-round btn-twitter twitter-sharrre">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <% if (user) { %>
                            <li class="nav-item dropdown">
                                <button href="#paper-kit" class="dropdown-toggle btn btn-round btn-danger" data-toggle="dropdown">
                <%- user.profile.firstName || user.email || user.id %> <b class="caret"></b>
              </button>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                                    <% if (isAdmin) { %>
                                        <li class="dropdown-item"><a href="/developers">Developers</a></li>
                                        <li class="dropdown-item"><a href="#">Bookings</a></li>
                                        <% } %>
                                            <!-- <li class="dropdown-item"><a href="/settings">Settings</a></li>
                  <li class="dropdown-item"><a href="/messages">Messages</a></li>
                  <div class="dropdown-divider"></div> -->
                                            <li class="dropdown-item"><a href="/logout">Logout</a></li>
                                </ul>
                            </li>
                            <% } else { %>
                                <!-- <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li> -->
                                <li class="nav-item">
                                    <a class="btn btn-danger btn-round" href="/dev/signup">Developer Signup</a>
                                </li>
                                <% } %>
            </ul>
        </div>
    </div>
</nav>

<style>
    .navbar-brand.logo {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .navbar-brand.logo img {
        width: 100px;
    }
</style>