<% layout('layout') -%>

<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<div class="about-header page-header page-header-small" style="background-image: url('/img/daniel-olahh.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>Hello, <br /> We are Dust.</h1>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main about-us">
    <div class="section">
      <div class="container">
        <h3 class="title-uppercase">Let's help launch your dream startup!</h3>
        <p>Dust’s mission is to build a future where the world can launch 10,000 startups every day for $100 each. We’ll achieve that mission by designing, powerful software and services that make it easier for people to launch, grow and fund their startups faster and cheaper than ever.</p>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
