<% layout('layout') -%>

<link href='/css/app.css' rel='stylesheet' />

<div class="about-header page-header page-header-small" style="background-image: url('/img/daniel-olahh.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>Hello, <br /> We are DustHQ.</h1>
      <h3>Let us tell you more about what we do.</h3>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main about-us">
    <div class="section">
      <div class="container">
        <h3 class="title-uppercase">We build great products.</h3>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
        <h3 class="title-uppercase">We <i class="fa fa-heart heart"></i>&nbsp; what we do.</h3>
        <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
