<% layout('layout') -%>

    <% block('footer').append(scriptJSapp) %>
        <%- partial('partials/header') %>
            <div style="background-color: #FFFFF1 !important;">
                <div class="container" style="height: 73vh;">
                    <div class="row">
                        <div class="col-md-12 mr-auto text-center" style="margin-top: 25px; margin-bottom: 25px;">
                            <h2>You successfully paid <strong>$25.00</strong>!</h2>
                        </div>
                    </div>
                </div>
            </div>
            <%- partial('partials/footer') %>