<% layout('layout') -%>

<link href='/css/app.css' rel='stylesheet' />

<div class="main contact-us">
  <div class="section section-gray">
    <div class="container">
      <%- partial('partials/flash') %>
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <h2 class="title">Get in touch with us</h2>
          <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualise customer directed convergence without revolutionary ROI.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <h3 class="title"><small>Find us on social networks</small></h3>
          <button class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></button>
          <button class="btn btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></button>
          <button class="btn btn-just-icon btn-google"><i class="fa fa-google"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <h3 class="title"><small>Or drop us a note</small></h3>
          <form class="contact" method="POST">
            <input type="hidden" name="_csrf" value="<%- _csrf %>"/>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" name="name" placeholder="Name" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;" type="text">
              </div>
              <div class="col-md-6">
                <input class="form-control" name="email" placeholder="Email" type="text">
              </div>
            </div>
            <textarea class="form-control" name="body" placeholder="Message" rows="7"></textarea>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <button class="btn btn-primary btn-block btn-round">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
