<% layout('layout') -%>

<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<div class="about-header page-header page-header-small" style="background-image: url('/img/daniel-olahh.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>Featured Developers</h1>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main about-us">
    <div class="section">
      <div class="container">
        <!-- <h3 class="title-uppercase">Featured Developers</h3> -->
        <div class="row">
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Ignacio "Nacho" Rivas</h3>
              <p>rivasign@gmail.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Samuel Afolaranmi</h3>
              <p>sammysgame.dev@gmail.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Anoop Santhanam</h3>
              <p>anoop.santhanam@gmail.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Junior Gantin</h3>
              <p>nioperas06@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
