<% layout('layout') -%>

<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<div class="about-header page-header page-header-small" style="background-image: url('/img/daniel-olahh.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>How Dust Works</h1>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main about-us">
    <div class="section">
      <div class="container">
        <!-- <h3 class="title-uppercase">Let's help launch your dream startup!</h3> -->
        <p>If you want to get an MVP built for less than $1000 in less than 96 hours,, fill in the form on https://www.dusthq.com, pay the $25 refundable booking fee, then we’ll get in touch with you to schedule a call to kick things off.
        <br><br>
        If you’re a developer, click the “Developer Signup” button in the top navigation bar, fill out your profile and we’ll keep you posted with cool new projects. 
        </p>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
