<% layout('layout') -%>

<div class="wrapper">
  <div class="main">
    <div class="map-container section section-buttons">
      <div id='js-map' class='map home-map'> </div>
    </div>
  </div>
</div>
