<% layout('layout') -%>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<% block('footer').append(scriptJSapp) %>

<div class="wrapper">
  <div class="main">
    <div class="map-container section section-buttons">
      <div class="tagline">
        Meet awesome developers who can build an MVP for your idea in a few days for a few hundred dollars
      </div>
      <div id='js-map' class='map home-map'> </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Welcome!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Thanks for signing up to dust, if you are a developer please compleate your profile in your settings page.
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Later</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <a href="/settings" class="btn btn-success btn-link">Setup Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- partial('partials/footer') %>

<script>
  window.initialLocation = <%- JSON.stringify(location) %>;
  window.csrf = "<%- _csrf %>";
</script>
