<% layout('layout') -%>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<% block('footer').append(scriptJSapp) %>

<div class="wrapper">
  <div class="main">
    <div class="map-container section section-buttons">
      <div class="tagline">
        <% if (isDeveloper) { %>
          Meet awesome non-technical founders who are looking for developers to build MVPs for a few hundred dollars, in a few days.
        <% } else { %>
          Meet awesome developers who can build an MVP for your idea for a few hundred dollars, in a few days.
        <% } %>
      </div>
      <div id='js-map' class='map home-map'> </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Welcome!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              Thanks for signing up to Dust. You’ll need to quickly complete your profile first. Please select one of the options below and we’ll take you straight to your profile.
            </div>
            <div class="modal-footer">
                <div class="left-side">
                    <button class="btn btn-default btn-link js-set-profile" data-isdev="true">I'm a developer</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                    <button class="btn btn-success btn-link js-set-profile" data-isdev="false">I'm a non-technical founder</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="js-unverified-modal" tabindex="-1" role="dialog" data-backdrop="static"  data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">We're Reviewing Your Profile</h5>
            </div>
            <div class="modal-body">
              We're reviewing your profile and once you're approved, you'll be able to start chatting.
            </div>
            <div class="modal-footer">
                <div class="right-side">
                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- partial('partials/footer') %>

<script>
  window.initialLocation = <%- JSON.stringify(location) %>;
  window.csrf = "<%- _csrf %>";
</script>
