<% layout('layout') -%>

    <% block('footer').append(scriptJSapp) %>
        <!-- Welcome Section -->
        <div class="welcome d-flex justify-content-center flex-column">
            <div class="container">
                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg navbar-dark pt-4 px-0">
                    <a class="navbar-brand" href="#">
                        <img src="/dust_logo.png" class="mr-2" alt="Dust" width="150px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="color: #fff !important;">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="http://blog.dusthq.com">Blog</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="https://twitter.com/TheDustMakers" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/TheDustMakers" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/dusthq/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- / Navigation -->
            </div>
            <!-- .container -->

            <!-- Inner Wrapper -->
            <div class="inner-wrapper mt-auto mb-auto container">
                <div class="row">
                    <div class="col-md-4" style="margin-top: 100px;">
                        <h1 class="welcome-heading display-4 text-white">Makers on Demand!</h1>
                        <p class="text-white">Dust is a much more affordable and much faster way to launch, iterate and grow your startup. Our approach to building MVPs saves you tens of thousands of dollars and months of development work. </p>
                        <h4 class="text-white">We #shipfaster and we #shipcheaper</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="row justify-content-md-center px-4">
                            <div class="contact-form col-sm-12 col-md-10 col-lg-10 p-4 mb-4 card">
                                <form method="post" action="/mvpbuild">
                                    <input type="hidden" name="_csrf" value="<%- _csrf %>" />
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <h5 class="text-center m-5">Your Total: $<span id="totalcost"></span></h5>
                                            <input type="hidden" class="form-control" id="totalcostform" placeholder="0" name="total">
                                        </div>
                                    </div>
                                    <div id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Pre-Launch
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																													<input type="checkbox" class="custom-control-input" name="features[]" value="Landing Page" data-price="39" id="price1" onclick="updateCost()">
																													<span class="custom-control-indicator"></span>
																													<span class="custom-control-description">Landing Page<br/>$39</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																													<input type="checkbox" class="custom-control-input" name="features[]" value="Wireframing" data-price="49" id="price2" onclick="updateCost()">
																													<span class="custom-control-indicator"></span>
																													<span class="custom-control-description">Wireframing<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																													<input type="checkbox" class="custom-control-input" name="features[]" value="Logo Design" data-price="49" id="price3" onclick="updateCost()">
																													<span class="custom-control-indicator"></span>
																													<span class="custom-control-description">Logo Design<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																													<input type="checkbox" class="custom-control-input" name="features[]" value="Blog Setup" data-price="49" id="price4" onclick="updateCost()">
																													<span class="custom-control-indicator"></span>
																													<span class="custom-control-description">Blog Setup<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            Basic App (Must Select One)
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Web App" data-price="99" id="price5" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Web App <br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Desktop App" data-price="149" id="price6" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Desktop App<br/>$149</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Browser Extension" data-price="149" id="price7" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Browser Extension<br/>$149</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="API" data-price="199" id="price8" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">API<br/>$199</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Android App" data-price="99" id="price9" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Android App<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="iOS App" data-price="99" id="price10" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">iOS App<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            Commerce
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Basic Commerce" data-price="99" id="price11" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Basic Commerce<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Booking Platform" data-price="99" id="price12" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Booking Platform<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingFour">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            Backend
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Admin Panel" data-price="149" id="price13" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Admin Panel<br/>$149</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingFive">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            Account Creation
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Social Signup (facebook)" data-price="49" id="price14" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Social Signup (facebook)<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Social Signup (twitter)" data-price="49" id="price15" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Social Signup (twitter)<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Social Signup (google)" data-price="49" id="price16" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Social Signup (google)<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Profile Creation" data-price="69" id="price17" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Profile Creation<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingSix">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                            Media Upload
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Audio Upload" data-price="79" id="price18" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Audio Upload<br/>$79</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Image Upload" data-price="79" id="price19" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Image Upload<br/>$79</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Video Upload" data-price="79" id="price20" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Video Upload<br/>$79</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingSeven">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                            Maps
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Basic Map" data-price="49" id="price21" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Basic Map<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Advanced Map" data-price="199" id="price22" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Advanced Map<br/>$199</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingEight">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                            Communication
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Basic Chatbot" data-price="99" id="price23" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Basic Chatbot<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Advanced Chatbot" data-price="199" id="price24" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Advanced Chatbot<br/>$199</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Messaging" data-price="99" id="price25" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Messaging<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Live Chat" data-price="99" id="price26" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Live Chat<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Audio Calls" data-price="129" id="price27" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Audio Calls<br/>$129</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Video Calls" data-price="129" id="price28" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Video Calls<br/>$129</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingNine">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                            Payments
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headinNine">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Cash" data-price="49" id="price29" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Cash<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Credit & Debit Card" data-price="99" id="price30" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Credit & Debit Card<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Crytpocurrencies" data-price="99" id="price31" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Crytpocurrencies<br/>$99</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTen">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                            Notification
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="In-App" data-price="69" id="price32" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">In-App<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Desktop" data-price="69" id="price33" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Desktop<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Desktop" data-price="69" id="price34" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Desktop<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Email" data-price="69" id="price35" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Email<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="SMS" data-price="69" id="price36" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">SMS<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingEleven">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                            Search
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Standard Search" data-price="69" id="price37" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Standard Search<br/>$69</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Search With Filters" data-price="89" id="price38" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Search With Filters<br/>$89</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwelve">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                                            Extras
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Forum" data-price="79" id="price39" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Forum<br/>$79</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Reviews" data-price="49" id="price40" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Reviews<br/>$49</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThirteen">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                                            App Deployment
                                            </a>
                                                </h5>
                                            </div>

                                            <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Domain Setup Assistance" data-price="29" id="price41" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Domain Setup Assistance<br/>$29</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Github Setup Assistance" data-price="29" id="price42" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Github Setup Assistance<br/>$29</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="AWS Setup Assistance" data-price="29" id="price43" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">AWS Setup Assistance<br/>$29</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Heroku Setup Assistance" data-price="29" id="price44" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Heroku Setup Assistance<br/>$29</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Apple App Store Setup Assistance" data-price="29" id="price45" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Apple App Store Setup Assistance<br/>$29</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <fieldset>
                                                                <label class="custom-control custom-checkbox d-block my-2">
																														<input type="checkbox" class="custom-control-input" name="features[]" value="Google Play Store Setup Assistance" data-price="29" id="price46" onclick="updateCost()">
																														<span class="custom-control-indicator"></span>
																														<span class="custom-control-description">Google Play Store Setup Assistance<br/>$29</span>
																												</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="contactFormFullName">Full Name</label>
                                                <input type="text" class="form-control" id="contactFormFullName" placeholder="Enter your full name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label for="contactFormEmail">Email address</label>
                                                <input type="email" class="form-control" id="contactFormEmail" placeholder="Enter your email address" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label for="exampleInputMessage1">MVP Description</label>
                                                <textarea id="exampleInputMessage1" class="form-control mb-4" rows="3" placeholder="Enter your message..." name="description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="Book your spot for $25 now!">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Inner Wrapper -->
        </div>
        <!-- / Welcome Section -->
        <%- partial('partials/footer') %>