<% layout('layout') -%>

    <% block('footer').append(scriptJSapp) %>
        <!-- Our Services Section -->
        <!-- <div id="our-services" class="our-services section py-4">
            <h3 class="section-title text-center my-5">Launch your startup MVP super fast.</h3>
            <div class="features py-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="px-4 float-right">
                                <img src="/images/about.jpg" class="mr-2" alt="Dust" width="400px">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex">
                            <div class="px-4" style="margin-top: 25px;">
                                <p>Dust’s mission is to build a future where the world can launch 10,000 startups every day. We’ll achieve this by designing powerful software and services that let people launch, grow and fund their startups faster and cheaper
                                    than ever.</p>
                                <p>Dust is a much more affordable and much faster way to launch, iterate and grow your startup. Our approach to building MVPs saves you tens of thousands of dollars and months of development work.</p>
                                <h5>We #shipfaster and we #shipcheaper</h5>
                                <p><a href="#" class="btn btn-lg btn-outline-black btn-pill align-self-center" style="color: #000 !important;">Request Quote</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- / Our Services Section -->
        <!-- Our Services Section -->

        <!-- / Our Services Section -->
        <%- partial('partials/footer') %>