<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Connecting non-technical founders with developers who can build MVPs for a few hundred dollars, in a few days.">
    <meta name="keywords" content="">
    <meta name="csrf-token">
    <!-- OpenGraph tags -->
    <meta content="dust" property="og:title">
    <meta content="dust" property="og:site_name">
    <meta content="https://dusthq.com" property="og:url">
    <meta content="Dust is a much more affordable and much faster way to launch, iterate and grow your startup. Our approach to building MVPs saves you tens of thousands of dollars and months of development work. Our mission is to build a future where the world can launch 10,000 startups every day."
        property="og:description">
    <meta content="/dust-square.png" property="og:image">
    <meta content="" property="fb:app_id">
    <meta content="website" property="og:type">
    <meta content="en" property="og:locale">
    <meta content="summary" property="twitter:card">
    <meta content="dust" property="twitter:title">
    <meta content="Connecting non-technical founders with developers who can build MVPs for a few hundred dollars, in a few days." property="twitter:description">
    <meta content="TheDustMakers" property="twitter:creator">
    <meta content="https://dusthq.com" property="twitter:url">
    <meta content="/logo.png" property="twitter:image">
    <meta content="Connecting non-technical founders with developers who can build MVPs for a few hundred dollars, in a few days." property="twitter:image:alt">

    <title>
        Dust & Co., Inc.
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shards.css">
    <link rel="stylesheet" href="/css/shards-extras.css">

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico">
</head>

<body class="shards-landing-page--1">

    <%- body -%>

        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-107215612-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- Core JS Files -->
        <!-- JavaScript Dependencies -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <%- block('footer') %>
            <script type="text/javascript">
                function updateCost() {
                    var sum = 0;
                    var gn, elem;
                    for (i = 1; i <= 46; i++) {
                        gn = 'price' + i;
                        elem = document.getElementById(gn);
                        if (elem.checked == true) {
                            sum += Number(elem.dataset.price);
                        }
                    }
                    document.getElementById('totalcostform').value = sum.toFixed(2);
                    document.getElementById('totalcost').innerHTML = sum.toFixed(2);
                }
            </script>

            <div id="popup" style="display: block; margin-left: 3%; left: 0% !important;"></div>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <link href="https://customer-crowd.herokuapp.com/embed/v1/embed.css" rel="stylesheet" type="text/css">
            <script>
                var identifier = "dusthq";
            </script>
            <script type="text/javascript" src="https://customer-crowd.herokuapp.com/embed/v1/embed.js"></script>

</body>

</html>