<% layout('layout') -%>

<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<div class="about-header page-header page-header-small" style="background-image: url('/img/daniel-olahh.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>MVPs</h1>
      <p>Here are some examples of MVPs powered by Dust.</p>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main about-us">
    <div class="section">
      <div class="container">
        <!-- <h3 class="title-uppercase">Featured Developers</h3> -->
        <div class="row">
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Dust</h3>
              <p>Dust is the best example of how we're building MVPs</p>
              <p><a href="https://www.dusthq.com" target="_blank">Visit</a></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Empora</h3>
              <p>Handmade goods marketplace</p>
              <p><a href="https://empora.hellosam.com.ng/" target="_blank">Visit</a></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>DankPool</h3>
              <p>Cryptocurrency Resources</p>
              <p><a href="https://dankpool.herokuapp.com/" target="_blank">Visit</a></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>1001 Docs</h3>
              <p>Buy and sell legal documents </p>
              <p><a href="https://dusthq1001docs.herokuapp.com/" target="_blank">Visit</a></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Putt Putt</h3>
              <p>Find golf courses nearby </p>
              <p><a href="https://dusthq-golfcourse.herokuapp.com/" target="_blank">Visit</a></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Drag n' Check</h3>
              <p>Auto-check files </p>
              <p><a href="https://murmuring-peak-26678.herokuapp.com/web/" target="_blank">Visit</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
