<% layout('layout') -%>

<link href='/css/app.css?<%= hashCSSapp %>' rel='stylesheet' />

<div class="about-header page-header page-header-small" style="background-image: url('/img/daniel-olahh.jpg');">
  <div class="filter filter-danger"></div>
  <div class="content-center">
    <div class="container">
      <h1>Resources To Help You Build Your Startup</h1>
      <!-- <p>Some of the awesome developers who build super fast, super cheap MVPs</p> -->
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="main about-us">
    <div class="section">
      <div class="container">
        <!-- <h3 class="title-uppercase">Featured Developers</h3> -->
        <div class="row">
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Startup Resources</h3>
              <p>http://startupstash.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Call Scheduling</h3>
              <p>https://www.calendly.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Email Scraping</h3>
              <p>https://grabby.io/</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Find Anyone’s Email</h3>
              <p>https://rocketreach.co/</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Create a Blog</h3>
              <p>https://medium.com/</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Payments for Your Site</h3>
              <p>https://www.stripe.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Startup Thinking</h3>
              <p>http://www.paulgraham.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Email Marketing</h3>
              <p>https://mailchimp.com/</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Deployment Tools</h3>
              <p>http://www.heroku.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Domain Purchasing</h3>
              <p>http://www.namecheap.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Get Early Users</h3>
              <p>https://news.ycombinator.com</p>
              <p>https://www.betalist.com</p>
              <p>https://www.producthunt.com</p>
              <p>https://www.indiehackers.com/</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="well text-center">
              <h3>Set up Your Company in Delaware and Open a Silicon Valley Bank Account</h3>
              <p>https://stripe.com/atlas</p>
              <p><small>*we’ve got a few invitations if you need any</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
