<% layout('layout') -%>

<link href='/css/app.css' rel='stylesheet' />

<div class="main terms">
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center hero">
          <h2 class="title">Terms and Conditions</h2>
          <p>Last updated on: 28 September 2017</p>
        </div>
      </div>
      <div class="row lines">
        <p>By using the DustHQ web site (“Service”), you are agreeing to be bound to the following terms and conditions (“Terms of Service”).</p>
        <p>DustHQ reserves the right to update and change the Terms of Service at it’s discretion without notice. Any new features in excess to the current Service shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.</p>
        <p>You can review the most current version of the Terms of Service at any time at: <a href="https://dusthq.com/terms">https://dusthq.com/terms</a>.</p>
        <p>Violation of any of the terms below may result in immediate termination of your Service account:</p>

        <br />
        <h6 class="heading-alt">Account Terms</h6>
        <ul>
          <li>Accounts registered by automated methods are not permitted and will be deleted immediately without notice.</li>
          <li>You must provide your legal full name, a valid email address, and any other pertinent information requested in order to complete the sign-up process.</li>
          <li>You are responsible for maintaining the security of your account and password. DustHQ cannot and will not be liable for any loss of information or security breaches that result from your failure to comply with this security obligation.</li>
          <li>You are hereby considered fully responsible for all content posted and any and all activity that occurs under your account.</li>
          <li>You may not use the Service for any illegal activities. You must not, in your use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws). Should you engage in any illegal activities through the Service, you agree to hold DustHQ blameless and not liable for any damages or crimes that may occur as a result. You will also have your account immediately shut down, and all data there-in removed.</li>
          <li>You may not use the Service to sell or distribute offensive or illegal content (goods, software, products or material). You agree DustHQ holds the right to determine what is considered &ldquo;offensive&rdquo; as pertaining to this agreement. Offensive and illegal content include: things that are sexually-oriented or pornographic, drugs, gambling, things that promote hate or violence towards others. You will have your account immediately shut down, and all data there-in deleted should you sell or distribute illegal or offensive content.</li>
        </ul>

        <br />
        <h6 class="heading-alt">General Conditions</h6>
        <ul>
          <li>Your use of the Service is at your own risk. The service is provided on an &ldquo;as is&rdquo; and &ldquo;as available&rdquo; basis.</li>
          <li>Technical support is available to account holders and is only available via email.</li>
          <li>You acknowledge and understand that DustHQ uses third party vendors to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
          <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service or DustHQ.</li>
          <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service.</li>
          <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any DustHQ employee, member, or officer will result in immediate account termination and potential criminal charges.</li>
          <li>DustHQ does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, or error-free, (iii) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations.</li>
          <li>The failure of DustHQ to aggressively enforce any right or provision of the Terms of Service shall not be construed as a waiver of such right or provision. The Terms of Service outlines the entire agreement between you and DustHQ and supersedes any prior agreements between you and DustHQ including prior iterations of the Terms of Service.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<%- partial('partials/footer') %>
